<html>
  <head>
  <title>Caesar Cipher</title>
  </head>
  <body>
    <div class="top"> 
    <h3>Welcome to Caesar's Cipher!</h3>
    </div>
    <div class="container">
    <form method="POST" action='/'>
      <input type='text' name='string'/>
      <input type='number' name='shift'/>
      <input type='submit' value='Cipher!'/>
    </form>
    <h3> <%=message%> </h3>
  </div>
    </body>
</html>
